language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
env:
  # - DJANGO>=1.7,<1.8
  - DJANGO='Django>=1.8,<1.9'
  - DJANGO='Django>=1.9,<1.10'
  - DJANGO='Django>=1.10,<1.11'
  - DJANGO='Django>=1.11,<2.0'
matrix:
  exclude:
    # - python: "3.5"
    #   env: DJANGO>=1.7,<1.8
    - python: "3.3"
      env: DJANGO='Django>=1.9,<1.10'
    - python: "3.3"
      env: DJANGO='Django>=1.10,<1.11'
    - python: "3.3"
      env: DJANGO='Django>=1.11,<2.0'
    - python: "3.6"
      env: DJANGO='Django>=1.8,<1.9'
    - python: "3.6"
      env: DJANGO='Django>=1.9,<1.10'
    - python: "3.6"
      env: DJANGO='Django>=1.10,<1.11'
install:
  - pip install --quiet $DJANGO
  - pip install --quiet coverage>=3.6
  - pip install --quiet flake8
  - pip install -e .
before_script:
  - flake8 --exclude=migrations,migrations-pre17 --ignore=W291,E501,F401,F403 moderation tests
script:
  - coverage run setup.py test
after_success:
  - coverage report
  - pip install --quiet --use-mirrors coveralls
  - coveralls
