language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
env:
  - DJANGO=1.7.11
  - DJANGO=1.8.14
  - DJANGO=1.9.9
  # - DJANGO=1.10
matrix:
  exclude:
    - python: "3.5"
      env: DJANGO=1.7.11
    - python: "3.3"
      env: DJANGO=1.9.9
    # - python: "3.3"
    #   env: DJANGO=1.10
install:
  - pip install -q Django==$DJANGO
  - pip install -q coverage>=3.6
  - pip install -q flake8
  - pip install -q -e .
after_script:
    - flake8 --exclude=migrations,migrations-pre17 --ignore=W291,E501,F401,F403 moderation tests
script:
  - coverage run setup.py test
after_success:
  - coverage report
  - pip install --quiet --use-mirrors python-coveralls
  - coveralls
